body {
	margin: 0px;
	font-size: 14px;
	line-height: 1.42857;
}

.container:after {
	clear: both;
}

.container:after, .container:before {
	display: table;
	content: " ";
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.twitter-share-button, .fb-like {
	position: absolute !important;
	display: block !important;
	margin-right: 20px;
	z-index: 11;
}

.fb-like {
	left: 600px;
	bottom: 70px;
}

.twitter-share-button {
	left: 520px;
	bottom: 70px;
}

.left-background {
	background-color: #2fb5c0;
	width: 50%;
	height: 100%;
	position: fixed;
	z-index: 2;
}

.right-background {
	background-color: #eb495e;
	width: 100%;
	height: 100%;
	top: 0px;
	position: fixed;
	z-index:1;
}

.body {
	width: 1280px;
	height: 1400px;
	position: relative;
	margin: 0 auto;
}
.container {
	position: relative !important;
	margin: 0 auto;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	width: 1280px;
	height: 1400px;
	z-index: 3;
}



.walk, .km, .kcal, .sub_walk, .sub_km, .sub_kcal {
	text-align: center;
	display: block;
	position: absolute;
	font-size: 31px;
	color: black !important;
	transform:rotate(-20deg);
	-ms-transform:rotate(-20deg); /* IE 9 */
	-webkit-transform:rotate(-20deg); /* Opera, Chrome, and Safari */
}

.sub_walk, .sub_km, .sub_kcal {
	font-size: 20px;
}

.walk {
	top: 385px;
	left: 425px;
}

.sub_walk {
	top: 415px;
	left: 478px;
}
.kcal {
	top: 330px;
	left: 590px;
}

.sub_kcal {
	top: 365px;
	left: 625px;
}

.km {
	top: 280px;
	left: 770px;
}

.sub_km {
	top: 310px;
	left: 810px;
}

.wonsoon_tv {
	position: absolute;
	top: 360px;
	left: 810px;
}

.date_list {
	position: absolute;
	top: 560px;
}

.date_list ul {
	list-style: none;
	padding-left: 0px;
}

.date_list ul li {
	float: left;
	margin-left: 6px;
}

#map {
	position: relative;
	top: 610px;
	width: 100%;
	min-height: 670px;
}

.nmap {
	border-radius: 40px;
}

footer {
	clear: both;
	position: relative;
	z-index: 10;
	bottom: 70px;
	text-align: center;
}

.teamInfo {
	color: white;
	text-align: center;
}

.pics {
	height: auto;
	width: auto;
	max-width: 300px;
	max-height: 300px;
}

