/* Everything but the jumbotron gets side spacing for mobile first views */
.twitter-share-button, .fb-like {
	position: absolute !important;
	display: block !important;
	margin-right: 20px;
	z-index: 10;
}

.fb-like {
	left: 300px;
	bottom: 65px;
}

.twitter-share-button {
	left: 220px;
	bottom: 70px;
}

.left-background {
	background-color: #2fb5c0;
	width: 50%;
	height: 100%;
	position: fixed;
	z-index: 2;
}

.right-background {
	background-color: #eb495e;
	width: 100%;
	height: 100%;
	top: 0px;
	position: fixed;
	z-index:1;
}

.body {
	width: 1280px;
	height: 1400px;
	position: relative;
	margin: 0 auto;
}
.container {
	position: relative !important;
	margin: 0 auto;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	width: 1280px;
	height: 1400px;
	z-index: 3;
}



.walk, .km, .kcal, .sub_km, .sub_kcal {
	text-align: center;
	display: block;
	position: absolute;
	font-size: 31px;
	color: black !important;
	transform:rotate(-20deg);
	-ms-transform:rotate(-20deg); /* IE 9 */
	-webkit-transform:rotate(-20deg); /* Opera, Chrome, and Safari */
}

.sub_km, .sub_kcal {
	color: #2FB5C0 !important;
	font-size: 20px;
}

.walk {
	top: 370px;
	left: 450px;
}

.kcal {
	top: 330px;
	left: 600px;
}

.sub_kcal {
	top: 420px;
	left: 630px;
}

.km {
	top: 290px;
	left: 760px;
}

.sub_km {
	top: 375px;
	left: 810px;
}
.today {
	position: absolute;
	top: 0px;
	left: 890px;
	color: #F99EAD;
	font-size: 30px;
	letter-spacing: 2px;
}

.date_list {
	position: absolute;
	top: 560px;
}

.date_list ul {
	list-style: none;
}

.date_list ul li {
	float: left;
	margin-left: 19px;
}

#map {
	position: relative;
	top: 610px;
	width: 100%;
	min-height: 670px;
	border-radius: 40px;
}
